.carousel_text{
  color: #464447;
}

.carousel_text2{
  color:white;
}

.img_css{
  height: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.cs_css{
  height:600px;
}
